.services-item-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.services-item {
    height: 100%;
    width: 100%;
}

.services-item-content {
    padding: 50px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 1.5;
}

.services-item-title {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
    font-family: var(--font-tieude);
}

.services-item-description {
    font-family: var(--font-thin);
    color: #585858;
    margin: 20px 0;
}

.services-item-button {
    border: none;
    background: black;
    color: white;
    padding: 25px;
    width: 50%;
    cursor: pointer;
    font-family: var(--font-dacbiet);
    font-size: 16px;
}

.services-item-button:hover {
    background: linear-gradient(45deg, black, #ff0b78, black);

}


.container-services:nth-child(even) .services-item {
    flex-direction: row-reverse;
}

.container-services {
    border-bottom: 3px solid #000;
    padding: 50px 0;
}

.white-box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 100px;
    background-color: #fff;
    border-top-left-radius: 24px;
}

/* Tạo đường cong lõm góc trên-trái của hộp trắng */
.white-box::before {
    content: '';
    position: absolute;
    top: -24px;
    right: 0;
    width: 24px;
    height: 24px;
    /* Mẹo tạo góc bo âm bằng box-shadow */
    border-bottom-right-radius: 24px;
    box-shadow: 12px 12px 0 12px #fff;
}

/* Tạo đường cong lõm góc dưới-trái của hộp trắng */
.white-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -24px;
    width: 24px;
    height: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 12px 12px 0 12px #fff;
}