<div class="maha-container">
    <div class="grid">
        <div class="row">
            <div class="l-12 m-12 c-12">
                <div class="menu-top">
                    <div class="ten-cong-ty">
                        <div class="logo"
                            style="background: url('/public/resource/images/logoBinhAn.jpg') no-repeat center / contain;">
                        </div>Công ty CP cjkafj hfj
                    </div>
                    <div class="user-info">
                        <div class="user-name">Nguyễn Văn A</div>
                        <img class="user-avatar"
                            src="https://yt3.ggpht.com/2pT2QXQe7Ss_mWFkppcui6t_sLDL5pjVOdB8RWojf-S17IWQRXOeKNJwYZkMNx6viDpW62oMAJg=s48-c-k-c0x00ffffff-no-rj"
                            alt="">
                    </div>
                </div>
            </div>

            <div class="l-2 m-2 c-12">

                <div class="menu">
                    <div class="menu-item" routerLink="/tong-quan">
                        <div class="icon" style="mask: url('/public/resource/icons/tongquan.svg');"></div>
                        Tổng quan
                    </div>
                    <div class="menu-item" routerLink="/gioi-thieu">
                        <div class="icon" style="mask: url('/public/resource/icons/gioithieu.svg');"></div>
                        Giới thiệu
                    </div>
                    <div class="menu-item" routerLink="/register">
                        <div class="icon" style="mask: url('/public/resource/icons/linhvuc.svg');"></div>
                        Lĩnh vực hoạt động
                    </div>
                    <div class="menu-item" routerLink="/">
                        <div class="icon" style="mask: url('/public/resource/icons/duan.svg');"></div>
                        Dự án
                    </div>
                    <div class="menu-item" routerLink="/">
                        <div class="icon" style="mask: url('/public/resource/icons/lienhe.svg');"></div>

                        Liên hệ
                    </div>
                    <div class="menu-item" routerLink="/">
                        <div class="icon" style="mask: url('/public/resource/icons/tuyendung.svg');">
                        </div>
                        Tuyển dụng
                    </div>
                    <div class="menu-item" routerLink="/">
                        <div class="icon" style="mask: url('/public/resource/icons/congty.svg');"></div>
                        Thông tin công ty
                    </div>
                </div>
            </div>

            <div class="l-10 m-10 c-12">
                <div class="l-12 m-12 c-12 content-container">
                    <div class="maha-content" ><router-outlet></router-outlet></div>
                    <div class="trangtri"></div>
                </div>
            </div>
        </div>
    </div>
</div>