/* hiển thị dialog */
.container-scroll {
    max-height: 60vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.container-scroll:hover {
    scrollbar-width: thin;
    scrollbar-color: rgb(122, 121, 121) transparent;
}

.row-reverse {
    flex-direction: row-reverse;
}

.image-review {
    height: 200px;
    border-radius: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    backdrop-filter: blur(7px);
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv-container {
    padding: 40px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    background: linear-gradient(45deg, #000000d4, #00000054);
    min-width: 90vw;
    max-width: 90vw;
}

.tieu-de {
    font-size: 30px;
    font-family: var(--font-tieude);
    margin: 20px 0;
    background: linear-gradient(45deg, #00e1ff, #00ff49, #00e1ff);
    background-clip: text;
    color: transparent;
    text-align: center;
}

.input-container {
    margin: 10px 0;
}

.lien-he-tieude {
    font-family: var(--font-tieude);
}

.lien-he-input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 31px;
    border: 1px solid #ffffff54;
    margin: 10px 0;
    background: transparent;
    color: #ffffff;
    font-size: 16px;
    scrollbar-width: thin;
}

.lien-he-input:focus {
    outline: none;
    border: 2px solid #007bff;
}

.error-message {
    color: yellow;
    font-size: 14px;
}

.button {
    padding: 10px 35px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: var(--font-dacbiet);
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.button.pos {
    background: linear-gradient(45deg, #00e1ff, #00ff49, #00e1ff);
}

.button.neg {
    background: linear-gradient(45deg, #ff0bee, #ff0b0b, #ff0bee);
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* hiển thị bảng */
:host {
    --radius: 8px;
    --border-color: #ffffff73;
    --blur: 4px;
}

.table-container {
    width: 100%;
    height: 71vh;
    overflow-x: auto;
    background: linear-gradient(45deg, #3232322e, #3730302b);
    scrollbar-color: #76d8ff42 transparent;
    scrollbar-width: thin;
    box-shadow: 0 0 2px #ffffff99;
    border-radius: 8px;
}

table {
    min-width: 100%;
    color: white;
    border-radius: var(--radius);
    table-layout: fixed;
    overflow-wrap: break-word;
    border-spacing: 1px;
}

thead th {
    position: sticky;
    top: 0;
    backdrop-filter: blur(var(--blur));
    background: rgb(0 21 255 / 43%);
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border: 2px solid var(--border-color);
}

thead tr {
    font-weight: bold;
    background: linear-gradient(45deg, #002fff72, #c800ff7c);
}

tr:nth-child(even) {
    background-color: #00e5ff15;
}


tr:hover td {
    background: linear-gradient(45deg, #04ff00, #00f7ff);
    color: transparent;
    background-clip: text;
}

tr:hover td.action {
    background-clip: none;
    color: #fff;
}

tr:first-child th:first-child {
    border-top-left-radius: var(--radius);
}

tr:first-child th:last-child {
    border-top-right-radius: var(--radius);
}

/* Bo tròn góc dưới-trái (ô hàng cuối đầu tiên) */
tr:last-child td:first-child {
    border-bottom-left-radius: var(--radius);
}

/* Bo tròn góc dưới-phải (ô hàng cuối cuối cùng) */
tr:last-child td:last-child {
    border-bottom-right-radius: var(--radius);
}

.btn {
    padding: 6px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 2.5px;
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-color: #fff;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover .icon {
    background-color: #000;
}

.them {
    background: linear-gradient(45deg, #00eeff, #001efd);
}

.xoa {
    background: linear-gradient(45deg, #ff0000, #ef00fd);
}

.sua {
    background: linear-gradient(45deg, #00ffb1, #00ff00)
}

.search-input {
    color: white;
    border-radius: 50px;
    padding: 5px 18px;
    margin: 10px 0;
    background: linear-gradient(45deg, #ffffff21, #ffffff12);
    border: 2px solid #ffffff30;
}

.search-input:focus {
    outline: none;
    border: 2px solid #007bff;
}

.search-input::placeholder {
    color: #ffffff;
    opacity: 1;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nut-them {
    background: linear-gradient(45deg, #00eeff, #001efd);
    color: white;
    border-radius: 3px;
    padding: 5px 18px;
    cursor: pointer;
}

.nut-them:hover {
    box-shadow: 0px 0px 15px #00eeff;
}

.phan-trang {
    color: #ffffffa1;
    border: 2px solid var(--border-color);
    padding: 10px;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, #0000003b, #66666633);
    backdrop-filter: blur(var(--blur));
}

.nut-trang {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.select-trang {
    border: none;
    border-radius: 19px;
    padding: 4px 10px;
    background: linear-gradient(45deg, #2200ff, #00efff);
    color: #000000bd;
    margin: 0 4px;
    cursor: pointer;
}

.select-trang:focus {
    outline: none;
}

.nhay-den {
    background: linear-gradient(45deg, #ffffff36, #ffffff30);
    padding: 2px 20px;
    border-radius: 20px;
    margin: 0 2px;
    color: #00a8ff;
    cursor: pointer;
    border: none;
}

.nhay-den:hover {
    box-shadow: 0 0 3px white;
}

.image-list {
    height: 80px;
    object-fit: contain;
    border-radius: 5px;
}

.center-height {
    display: flex;
    align-items: center;
}

.margin-right {
    margin-right: 20px;
}

.color-requier {
    color: #ff008d;
}

/* Hết hiển thị bảng */